body {
  display: grid;
  grid-template: .4fr 4.6fr / .8fr 4.2fr;
  max-height: 100vh;
  margin: 0;
}    
.header {
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  position: relative;
  grid-column: 2;
  grid-row: 1;
  background-color: rgb(231, 231, 118);
}
.sidebar {
    background-color: rgb(25,146,212);
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    align-content: start;
    gap: 50px;
    padding-right: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    position: relative;
}
.dashboardIcon button {
  font-size: x-large;
  font-weight: 700;
  color: white;
  background-color: rgb(25,146,212);
  border: none;
}
button:hover {
    text-decoration:underline;
}
.search button {
  border: none;
  background-color: rgb(231, 231, 118);
}
.search button:hover {
  color:rgb(28, 173, 35);
}
.topRightHeader button:hover {
  transform: scale(1.5);
  color: aquamarine;
}
.dashboard {
    display:flex;
    gap: 15px;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 15px;
}
.dashboard div {
    font-size: x-large;
    font-weight: 700;
    color: white;
}
.dashboard .dashboardTitle {
    font-size: xx-large;
    font-weight: 900;
    color: white;
    padding-left: 2px;
}
.dashboardIcon {
    display:flex;
    gap: 15px;
    align-items: center;
}
.dashboard:first-of-type {
  padding-left:10px;
}
.bottomLeftHeader img {
  max-width: 100px;
  border-radius: 50%;
}
.search {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 4px;
}
input {
  flex-grow:.6;
  border-radius: 10px;
  height: 20%;
}
.topRightHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 35px;
}
.topRightHeader .material-icons {
  font-size: 50px;
}
.projectColumn1 .material-icons,
.projectColumn2 .material-icons {
  font-size: 40px;
}
.projectColumn1 button,
.projectColumn2 button {
  border: none;
  background-color: white;
}
.projectColumn1 button:hover,
.projectColumn2 button:hover {
  text-decoration: none;
  transform: scale(1.3) translate(-5px, -10px);
}
.topRightHeader img {
  max-width: 90px;
  border-radius: 50%;
}
.topRightHeader button {
  border: none;
  color: rgb(28, 173, 35);
  background-color: rgb(231, 231, 118);
}
.topRightHeader div {
  font-size: xx-large;
  font-weight: 800;
}
.bottomRightHeader {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 35px;
}
.bottomRightHeader button {
  background-color: rgb(231, 231, 118);
  border: none;
  color: white;
}
.bottomRightHeader div {
  font-size: x-large;
  font-weight: bolder;
  color: white;
  background-color:rgb(40, 102, 160);
  padding: 20px;
  border-radius: 25%;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.bottomLeftHeader {
  display: flex;
  align-items: center;
  padding-left: 4%;
  padding-bottom: 3%;
  gap: 10px;
}
.bottomLeftHeader div {
  font-size: xx-large;
}
.bottomLeftHeader div:first-of-type {
  font-size: medium;
}
.mainContentContainer {
  background-color: rgb(226,232,240);
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1.15fr 1.15fr .7fr;
  grid-template-rows: 50px 1fr 50px;
} 
.mainContentContainer .yourProjects1 {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: x-large;
  padding-right: 1%;
}
.mainContentContainer .yourProjects2 {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: x-large;
}
.mainContentContainer .yourAnnouncements {
  grid-row: 1;
  grid-column: 3;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}
.projectColumn1 {
  grid-row: 2;
  grid-column: 1;
  display:flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.projectColumn1 > div {
  flex: 1 1 0px;
  background-color: white;
  border-radius: 5%;
  border-left-color: orange;
  border-left-style: solid;
  border-left-width: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.projectColumn1 > div:nth-child(2) {
  align-items: end;
  padding: 0px 5px 5px 0;
}
.projectColumn1 > div:nth-child(1) {
  align-items: end;
  padding: 0px 5px 5px 0;
}
.projectColumn1 > div:nth-child(3) {
  align-items: end;
  padding: 0px 5px 5px 0;
}
.projectColumn2 > div:nth-child(1) {
  align-items: end;
  padding: 0px 5px 5px 0;
}
.projectColumn2 > div:nth-child(2) {
  align-items: end;
  padding: 0px 5px 5px 0;
}
.projectColumn2 > div:nth-child(3) {
  align-items: end;
  padding: 0px 5px 5px 0;
}
.projectColumn2 {
  grid-row: 2;
  grid-column: 2;
  display:flex;
  flex-direction: column;
  gap: 25px;
}
.projectColumn2 > div {
  display:flex;
  flex-direction: column;
  flex: 1 1 0px;
  background-color: white;
  border-radius: 5%;
  border-left-color: orange;
  border-left-style: solid;
  border-left-width: 8px;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.announcements {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px 70px 70px 70px;
  padding: 20px;
  border-radius: 5%;
  gap: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.announcements div:first-of-type {
  border-bottom: solid;
  border-color: black;
  padding-bottom: 20px;
  border-width: 2px;
}
.announcements div:nth-child(2) {
  border-bottom: solid;
  border-color: black;
  padding-bottom: 20px;
  border-width: 2px;
}
.mainContentRight {
  grid-column: 3;
  grid-row: 2;
  display:flex;
  flex-direction: column;
}
.mainContentRight #bottomRightBox {
  flex: 1 1 0px;
  background-color: white;
  border-radius: 5%;
  margin: 0px 70px 70px 70px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display:flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
#projTitle {
  padding: 10px 0 0 10px;
  font-size: x-large;
}
.trending {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  gap: 12px;
}
#bottomRightTrending {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
img {
  max-width: 70px;
  border-radius: 50%;
}
#bottomRightInnerBoxes {
  display: flex;
  gap: 5px;
  align-items: center;
}
